<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
          <label for="filter">Filter by post:</label>
          <input type="text" class="form-control" name="filter" [(ngModel)]="filter" (keyup)="filterPost(filter)" />
      </div>
    </div>
    <div class="col-md-9" *ngFor="let post of posts">
      <div class="dashboard-info">
          <h2 class="dashboard-title">
            {{ post.name }}
          </h2>
          <div class="dashboard-date">
            {{ post.date }}
          </div>
      </div>
      <div class="dashboard-content">
        {{ post.content }}
      </div>
      <div class="dashboard-author">
        {{ post.author }}
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary dashboard-btn" (click)="openModal(template)">Add post</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Post</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form name="form" (ngSubmit)="p.form.valid && newPost()" #p="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': p.submitted && !name.valid }">
              <label for="name">Title Post</label>
              <input type="text" class="form-control" name="name" [(ngModel)]="post_model.name" #name="ngModel" required />
              <div *ngIf="p.submitted && !name.valid" class="help-block">Tilte of post is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': p.submitted && !name.valid }">
              <label for="content">Text</label>
              <textarea type="text" class="form-control" name="content" maxlength="250" [(ngModel)]="post_model.content" #content="ngModel" required></textarea>
              <p class="text-right">{{ (post_model.content === undefined) ? '0 / 250' : post_model.content.length + ' / 250' }}</p>
              <div *ngIf="p.submitted && !content.valid" class="help-block">Is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': p.submitted && !name.valid }">
              <label for="author">Author</label>
              <input type="text" class="form-control" name="author" [(ngModel)]="post_model.author" #author="ngModel" required />
              <div *ngIf="p.submitted && !author.valid" class="help-block">Author is required</div>
          </div>
          <div class="form-group">
              <button class="btn btn-primary">New Post</button>
              <a (click)="modalRef.hide()" class="btn btn-link">Cancel</a>
          </div>
      </form>  
  </div>
</ng-template>